/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar-logo img {
    width: 120px;
    height: auto;
    margin: 5px 40px;
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin: 5px 40px;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar-links li a:hover {
    color: #ddd;
}

section {
    padding: 20px;
}

section h2 {
    color: #333;
}

section p {
    color: #666;
}